* {
    margin-right: 0;
    padding: 0;
    font-size: 16px;
    font-weight:normal;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
.container {
    
    width: 1070px ;
    margin: 0 auto;
}
.btn1{
    padding: 20px 30px;
    margin-right: 30px;

}
.header {
    background-color:rgba(255, 113, 67, 0.27);
    padding:38px 48px ;
}
.header-flex, .container, .container-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li {
    display: inline-block ;
    
}
.nav-li:not(:first-of-type) {
    margin-left: 49px;
}
.nav-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav-link:hover{
    color: black;
    transition: 400ms;
}
.button{
    Width: 212px;
    height: 60px;
    font-style: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
.button-orange {
    background:#FF7143 ;
}
.button-orange:hover {
    background: orangered;
    transition: 500ms;
}

.container-about {
    margin: 104px auto 85px;
}

.about-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    }
    .button-violet {
        background: #5454D4;
    }
    .button-transparent {
     background: none;
     color: #5454D4;
     border: 1px solid #5454D4;
     margin-left: 35px;
    }
    .footer {
        
        background-color:rgba(255, 113, 67, 0.27);
        padding: 65px 0 60px;
        }

        .container {
     width: 1070px ;
     margin: 0 auto; 
        }
        
        .footer-li {
            display: inline-block;
        }
        .footer-li:not(:first-of-type) {
            margin-left: 49px;
        }
        .footer-link {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.468947px;
            color: #696871;
            text-decoration: none;
        }
        .footer-link:hover{
            color: black;
            transition: 400ms;
        }